In [1]:
import os
import django

os.environ["DJANGO_SETTINGS_MODULE"] = 'config.settings'
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = 'true'

django.setup()

In [2]:
from app1.models import Person

# 삽입
# 모델 객체 생성 person = Person(first_name="hong",last_name="dong") person.save()
# create() : Person.objects.create(first_name="hong",last_name="dong")
Person.objects.create(first_name="hong",last_name="dong")

In [3]:
Person.objects.create(first_name="sun",last_name="flower")
Person.objects.create(first_name="kim",last_name="eunji")

In [4]:
from app1.models import Person

# 전체 조회 : all()
qs = Person.objects.all()
qs

In [5]:
print(qs.query)

SELECT "person"."id", "person"."first_name", "person"."last_name", "person"."created_at" FROM "person"

In [6]:
# 하나 조회

Person.objects.get(id=1)

In [7]:
# 하나 조회

Person.objects.filter(id=1)

In [8]:
# like : first_name 에 kim 포함하고 있는

Person.objects.filter(first_name__contains='kim')

In [9]:
# Person.objects.get(id=5)
Person.objects.filter(id=5)

In [10]:
Person.objects.all()[1]

Person.objects.all()[:2]

In [11]:
# queryset => list 구조로 변환

list(Person.objects.all())

[<Person: hong>,
 <Person: sun>,
 <Person: kim>,
 <Person: hong>,
 <Person: sun>,
 <Person: kim>]

#### Post 모델

In [12]:
from app1.models import Post

Post.objects.all()

In [13]:
# 전체 행 개수 조회

Post.objects.count()

7

In [14]:
# 오름차순 정렬
Post.objects.order_by("created_at")

In [15]:
# 내림차순 정렬
Post.objects.order_by("-created_at")

In [16]:
# exclue(조건) : 조건을 제외한 모든 행 조회
Post.objects.exclude(id=3)

In [17]:
qs = Post.objects.all()

for post in qs:
    print(post.id,post.title,post.content)

1 장고 모델1 장고 모델1
2 장고 모델2 장고 모델2
3 장고 모델3 장고 모델3
4 새글 작성 새글 작성
5 글 작성 글 작성
6 새글작성 새글작성
7 새글작성 새글작성

In [18]:
# title에 장고라는 문자가 포함된 행 조회 : contains, icontains(대소문자 구별말고)
Post.objects.filter(title__contains="장고")

In [19]:
# title에 장고라는 문자가 포함되고, 작성자가 성춘향인 행 조회
# 괄호 안에 1개 이상의 인자 지정하면 무조건 AND 개념임, OR 는 다른방식 사용
Post.objects.filter(title__contains="장고",author_name="성춘향")

In [20]:
Post.objects.filter(title__contains="장고").order_by("-created_at")

In [21]:
qs = Post.objects.all()
qs[0]

In [22]:
qs.get(id=1)

In [23]:
qs.first()

In [24]:
qs.last()

Musician

In [25]:
from exam.models import Musician

# 전체조회

musicians = Musician.objects.all()
for m in musicians:
    print(m.id, m.name, m.instrument)

1 홍길동 첼로
2 성춘향 피아노
3 케니지 saxophone
4 조성진 피아노
5 Claption guitar
6 강감찬 피아노
7 flower piano

In [26]:
# 특정 조건을 만족하는 조회 : 하나만 조회 get(), 여러개 조회 filter()

# id(pk)가 3번인 사람 조회
Musician.objects.get(id=3)

In [27]:
Musician.objects.filter(id=3)

In [28]:
# 악기가 피아노인 사람 조회
Musician.objects.filter(instrument="피아노")

In [29]:
# 악기에 피라는 글자가 들어간 사람 조회
Musician.objects.filter(instrument__contains="피")

In [30]:
# 연주하는 악기가 피아노가 아닌 사람 조회
Musician.objects.exclude(instrument="피아노")

Comment

In [2]:
from app1.models import Comment,Post

# comment 모두 가져오기
Comment.objects.all()

In [3]:
# id가 1인 comment 조회

comment = Comment.objects.get(id=1)
comment

In [4]:
# id가 1인 comment의 원본글 정보 조회
comment.post

In [5]:
# post id 가 1인 댓글 모두 조회

post = Post.objects.get(id=1)
comments = Comment.objects.filter(post=post)
for comment in comments:
    print(comment)

댓글 작성1
댓글 작성2
댓글작성3

In [6]:
# POST 쪽에서 Comment 접근 : 접근하려고하는모델명소문자_set

post.comment_set.all()